<<%= o_wrapper %> class="bookmark <%= cycle('odd', 'even') %>">
	<h1 class="the_link protocol"><%= url_to_link bookmark.url, 'Saved ' +
		time_ago_in_words(bookmark.updated_at) + ' ago, on ' +
		bookmark.updated_at.strftime("%Y-%m-%d %H:%M") %></h1>
	<% unless o_read_only %>
	<ul class="actions">
		<li><%= link_to raw('&#x270e;'), edit_bookmark_path(bookmark), :title => 'Edit' %></li>
		<li><%= link_to raw('X'), confirm_destroy_bookmark_path(bookmark), :remote => true, :title => 'Remove' %></li>
	</ul>
	<% end %>
	<% unless bookmark.tags.empty? %>
	<ul class="tags">
		<% bookmark.tags.each do |tag| %>
		<li>
			<a href="?search=<%= raw URI.escape(tag.name) %>" title="Find tagged by &lt;<%= tag.name %>&gt;">
				<%= tag.name %>
			</a>
		</li>
		<% end %>
	</ul>
	<% end %>
	<br style="clear: both;">
</<%= o_wrapper %>>