<header>
	<%= form_tag request.path, :method => 'get', :id => 'search_form' do %>
	<nav class="search">
		<%= text_field_tag :search, params[:search], :class => 'search_field' %>
		<a href="/bookmarks/new" class="new_boomark_button" title="Add Bookmark">+</a>
	</nav>
	<%  unless @bookmarks.empty? %>
	<nav class="pagination">
		<%=	will_paginate @bookmarks, :inner_window => 2, :outer_window => 0,
			:previous_label => '&#x25c0;', :next_label => '&#x25b6;', :container => false %>
	</nav>
	<nav class="sorting">
		<p>
			<%= sortable 'url', :label => 'U' %>
			<%= sortable 'updated_at', :label => 'D' %>
			<%= select_tag "per_page", options_for_select(%w{1 5 10 20 50 100}, :selected => params[:per_page], :id => 'per_page') %>
		</p>
	</nav>
	<%  end %>
	<% end %>
</header>
<section class="results">
	<% unless @bookmarks.empty? %>
	<ul>
		<%= render :partial => @bookmarks, :locals => {:o_wrapper => 'li', :o_read_only => false} %>
	</ul>
	<% else %>
	<div class="no_results">
		<p>Your search &mdash; <strong><%= params[:search] %></strong> &mdash; did not match any links or taggings.</p>
		<h1>Suggestions:</h1>
		<ul>
			<li>Make sure all words are spelled correctly.</li>
			<li>Try different keywords.</li>
			<li>Try more general keywords.</li>
			<li>Try fewer keywords.</li>
			<li>Take a look at the syntax below.</li>
		</ul>
		<h2>The following search operators are supported:</h2>
		<dl>
			<dt>OR</dt>
			<dd>This is the default option. ‘cat dog’ will find records matching both 'cat' AND 'dog'.</dd>
			<dt>NOT</dt>
			<dd>'cat -dog' will find records matching 'cat' AND NOT 'dog'</dd>
			<dt>INCLUDE</dt>
			<dd>'cat +me' will find records matching 'cat' and 'me', even if 'me' is smaller than the +min_word_size+</dd>
			<dt>&quot;whole phrase&quot;</dt>
			<dd>Quoted terms are matched as phrases. '"cat dog"' will find records matching the whole phrase. Quoted terms can be preceded by the NOT operator; 'cat -"big dog"' etc. Quoted terms can include words shorter than the +min_word_size+.</dd>
			<dt>^</dt>
			<dd>Terms that begin with ^ will match records that contain a word starting with the term. '^cat' will find matches containing 'cat', 'catapult', 'caterpillar' etc.</dd>
			<dt>^"quoted phrase"</dt>
			<dd>A quoted term that begins with ^ matches any phrase that begin with this phrase. '^"cat d"' will find records matching the whole phrases "cat dog" and "cat dinner". This type of search is useful for autocomplete inputs.</dd>
		</dl>
	</div>
	<% end %>
	<br>
</section>