<li class="bookmark <%= cycle('odd', 'even') %>">
	<h1 class="protocol"><%= url_to_link bookmark.url, bookmark.updated_at.strftime("%Y-%m-%d %H:%M") %></h1>
	<ul class="actions">
		<li><%= link_to raw('&#x270e;'), edit_bookmark_path(bookmark), :title => 'Edit' %></li>
		<li><%= button_to 'X', bookmark, :confirm => 'Are you sure?', :method => :delete, :title => 'Remove' %></li>
	</ul>
	<%- unless bookmark.tags.empty? -%>
	<!--<h2>Tags</h2>-->
	<ul class="tags">
		<%- bookmark.tags.each do |tag| -%>
		<li><a href="?search=<%= raw URI.escape(tag.name) %>" title="Find tagged &lt;<%= tag.name %>&gt;"><%= tag.name %></a></li>
		<%- end -%>
	</ul>
	<%- end -%>
	<br style="clear: both;">
</li>