<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span style="text-transform: uppercase"><%= f.label 'URL' %></span>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label 'Tags' %>
    <%= f.text_area :tag_names, :style => 'text-transform: capitalize' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
