<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>iMarks &mdash; Save bookmarks in your own cloud.</title>
		<%= stylesheet_link_tag 'base' %>
		<%= javascript_include_tag 'jquery.min', 'rails', 'application' %>
		<%= javascript_include_tag 'pagination' %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>