<!DOCTYPE html>
<html>
	<head>
		<title>iMarks &mdash; Save bookmarks in your own cloud.</title>
		<%= stylesheet_link_tag 'scaffold' %>
		<%= stylesheet_link_tag 'form' %>
		<%= stylesheet_link_tag 'table' %>
		<%= stylesheet_link_tag 'pagination' %>
		<%= stylesheet_link_tag 'misc' %>
		<%= javascript_include_tag 'jquery' %>
		<%= javascript_include_tag 'rails' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tag %>
	</head>
	<body>
	<%= yield %>
	</body>
</html>
